.edu-login-unlogged{display:inherit}
.edu-login-logged{display:none}
.edu-login-logged a{display:block;float:left}
.edu-login-panel{float:left;width:100%}
.edu-login-panel p{margin:0 0 1em;color:#CCC}
@media only screen and (min-width:40.063em){span.edu-login-button,span.edu-create-button{max-width:260px}
.edu-login-panel{width:300px}
.edu-login-message{float:left;width:auto}
.edu-login-account{display:block}
}
@media only screen and (min-width:64.063em){.edu-login-panel{width:450px}
}
.edu-dropdown-seats{display:inline-block}
select.edu-dropdown{width:calc(100% - 28px);min-width:180px;display:inline-block}
.edu-dropdown-label{float:left;width:120px}
.edu-dropdown-serial-number,.edu-dropdown-product-key,.edu-dropdown-file-size,.edu-dropdown-seats{margin-left:120px;display:block}
.edu-dropdown-item-list{display:inline-block}
.edu-dropdown-item{list-style-type:none}
.edu-dropdown-unlogged{display:inherit}
.edu-dropdown-logged{display:none}
.edu-dropdown-linkwrap{display:inline-block;vertical-align:top}
.edu-dropdown-check{background-position:-600px 0;display:inline-block;visibility:hidden;color:#FFF;background:#8B5;border-radius:100%;vertical-align:top}
.loading-spinner{display:none}
.edu-error-message{font-size:1.15em;color:#C60}
.edu-error-body ol{padding-left:16px;list-style:none}
.edu-error-body li:before{display:inline-block;content:"-";width:1em;margin-left:-1em}
.edu-dropdown-compare,.edu-dropdown-entitle{display:none}
.edu-cloud-access-download-link>a{display:none}
.edu-dropdown-compare-link,.edu-dropdown-entitle-link{display:none}
@media only screen and (min-width:40.063em){.edu-dropdown-compare,.edu-dropdown-entitle{display:block}
}
.edu-dropdown-lightbox-container{max-width:500px;height:auto}
.edu-dropdown-lightbox-container .wd-lightbox-innercontainer{z-index:0;overflow:visible}
.edu-dropdown-lightbox-container .horizon{position:inherit;top:0}
.edu-dropdown-lightbox-container .horizon .js-closeModal{display:none}
.edu-dropdown-lightbox-close{position:absolute;top:6px;text-decoration:none;left:50%;margin-left:-32px;width:26px;height:26px;font-size:26px;font-size:2.6rem;line-height:1}
.edu-cloudaccess-button-unlogged{display:inherit}
.edu-cloudaccess-button-logged,.edu-cloudaccess-button-entitled{display:none}
.educational-dropdown .edu-cloudaccess-button-unlogged a.edu-button-disabled-cloudaccess,.educational-dropdown .edu-cloudaccess-button-unlogged a.edu-button-disabled-cloudaccess:hover{width:100%;background:#dadada;cursor:default;display:table}
a.edu-button-enabled-cloudaccess,a.edu-button-enabled-cloudaccess:hover{width:100%;background:#f48126;display:table}
@media only screen and (min-width:40.063em){a.edu-button-disabled-cloudaccess,a.edu-button-enabled-cloudaccess{max-width:260px}
}
.edu-button-unlogged{display:inherit}
.edu-button-logged{display:none}
a.edu-button-disabled-download,a.edu-button-disabled-download:hover{width:100%;background:#dadada !important;cursor:default}
a.edu-button-enabled-download,a.edu-button-enabled-download:hover{width:100%;background:#f48126}
div.split-button:not(.split-button-disabled) :not(b):not(ul):not(li),div.split-button:not(.split-button-disabled) :not(b):not(ul):not(li):hover{background:0 !important;border:0 !important}
div.split-button:not(.split-button-disabled){float:none !important;width:100% !important;cursor:pointer}
div.split-button:not(.split-button-disabled) a,div.split-button:not(.split-button-disabled) span,div.split-button:not(.split-button-disabled) b{font-size:1.6rem;font-weight:700;text-transform:uppercase}
div.split-button:not(.split-button-disabled) .split-button-wrapper{width:100%}
div.split-button:not(.split-button-disabled) .split-button-wrapper,div.split-button:not(.split-button-disabled) .split-button-wrapper span,div.split-button:not(.split-button-disabled) .split-button-wrapper a,div.split-button:not(.split-button-disabled) .split-button-wrapper b{height:33px;line-height:31px;font-size:16px}
div.split-button:not(.split-button-disabled) .split-button-wrapper,div.split-button:not(.split-button-disabled) .split-button-wrapper span{background-image:none}
div.split-button:not(.split-button-disabled) .split-button-wrapper span,div.split-button:not(.split-button-disabled) .split-button-wrapper a{background:0;border:0}
div.split-button:not(.split-button-disabled) .split-button-wrapper a{width:calc(100% - 32px) !important}
div.split-button:not(.split-button-disabled) .split-button-wrapper span b{background:0;font-family:"Autodesk-Icon-Font";font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:20px}
div.split-button:not(.split-button-disabled) .split-button-wrapper span b:before{content:"\e619"}
div.split-button:not(.split-button-disabled) div.split-button-droplist-wrapper *{font-size:1.2rem !important;font-size:12px !important}
div.split-button:not(.split-button-disabled) div.split-button-droplist-wrapper ul{min-width:160px}
div.split-button:not(.split-button-disabled):hover .split-button-wrapper span,div.split-button:not(.split-button-disabled):hover .split-button-wrapper a{background:0;border:0}
@media only screen and (min-width:40.063em){.wd-button{max-width:260px}
.split-button-wrapper{max-width:260px}
div.split-button.split-button-all,div.split-button.split-button-all input{max-width:260px;text-transform:uppercase}
a.edu-button-disabled-download,a.edu-button-enabled-download{max-width:260px}
}
div.split-button-all .split-button-wrapper span b{background:0;font-family:"Autodesk-Icon-Font";font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1}
div.split-button-all .split-button-wrapper span b:before{content:"\e60a"}
div.educationClickHandler{display:none;position:relative;left:0;top:0;margin-bottom:-33px;z-index:1}
div.educationClickHandler a span:only-child{font-size:16px;text-align:center;padding:.4rem 1rem .3rem 1rem}
div.educationClickHandler a span i{padding:0 .5em;vertical-align:-1px}
.educationContainer .split-button-nonwin{padding:0}