/*
 *  This file is specific to the Artifakt font *only*.
 *  Please avoid putting generic or layout-related styles here.
 */

/*  -------------------------
 *  Normalize-Extension.css
 *  -------------------------  */

    body {
        font-style: normal;
        font-weight: 400;
        font-family: 'Artifakt',sans-serif;
        line-height: 1.4;
    }

    ul {
        font-size: 14px;
        line-height: 19px;
        font-family: 'Artifakt';
        font-weight: 400;
    }

    h1 {
        font-size: 30px;
        line-height: 34px;
        font-family: 'Artifakt';
    }

    h2 {
        font-size: 22px;
        font-family: 'Artifakt';
    }

    h3 {
        font-size: 19px;
        font-family: 'Artifakt';
        font-weight: 700;
    }

    h4 {
        font-family: 'Artifakt';
        font-weight: 700;
    }

    h5 {
        font-family: 'Artifakt';
        font-weight: 700;
        text-transform: uppercase;
    }

    p, li {
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 19px;
    }

/*  -------------------------
 *  Links.css
 *  -------------------------  */

    .body-content a,
    .wd-lightbox-container a {
        font-weight: 700;
        font-family: 'Artifakt';
    }

/*  -------------------------
 *  Button.css
 *  -------------------------  */

    a.wd-button span {
        padding: .565em 1em .5em 1em;
    }

    .wp-section-learning p span a {
        line-height: 35px;
    }

/*  -------------------------
 *  Local Navigation.less
 *  -------------------------  */

    .local-navigation .nav-link {
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1;
    }

/*  -------------------------
 *  Recommendation-Banner.less
 *  -------------------------  */

    body .recommendation-banner span {
        line-height: 24px;
    }
